# Ignorer un fichier spécifique
.angular/cache/14.2.13/angular-webpack/d95b5dc3dd218054138f84aaf07cba4a9212cc41/0.pack

/.angular/cache
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules
/node

# Cordova
/www
/plugins
/platforms

# IDEs and editors
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
.project
.classpath
.c9/
*.launch
.settings/
xcuserdata/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Maven
/target
/log

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/reports
/src/translations/template.*
/src/environments/.env.*


# System Files
.DS_Store
Thumbs.db

# local history
.history
node_modules

