@import "~primeicons/primeicons.css";

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.input-border-search {
  border: none; // Supprime la bordure
  outline: none; // Supprime la mise en évidence lorsque l'input est en focus
}

.p-input-icon-left {
  padding-left: 2.5rem;
}

.margin-box {
  margin-left: 255px;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.breadcrumb-container {
  margin-left: 255px;
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
}

.product-list-item {
  display: flex;
  align-items: left;
  padding: 1rem;
  width: 33%;
  border: 1px solid black;
  margin: 2rem;
}

.product-list-detail {
  flex: 1 1 0;
  align-items: left;
}

.product-list-image {
  flex: 1 0 0;
}

.product-list-action {
  display: flex;
  flex-direction: column;
}

img {
  width: 150px;
  height: 100px;
}

.p-dataview-content {
  display: flex;
  padding: 10px;
  border: 1px solid black;
}

.product-grid-item-top {
  padding: 10px;
}

.product-grid-item-content {
  padding: 10px;
}

.product-grid-item-bottom {
  padding: 10px;
}

.button {
  margin: 1em;
}

.dv-layout {
  display: flex;
  justify-content: flex-end;
}